# Created by .ignore support plugin (hsz.mobi)
# local configs
.idea
node_modules

# apple gitignore

*.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

#ubuntu gitignore
/ubuntu-xenial-16.04-cloudimg-console.log
/temp/
/package-lock.json
/server/package-lock.json
/client/package-lock.json
